@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
  }
  
  * {
    font-family: 'Inter', sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    font-family: 'Montserrat', sans-serif;
  }
  
  @layer components {
    .container-max {
      @apply container max-w-[1080px] w-[90%] mx-auto;
    }
    .container-md {
      @apply container max-w-[768px] w-[90%] mx-auto;
    }
    .flex-center {
      @apply flex justify-center items-center;
    }
  }
  
  .overlay-container {
    position: relative;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7) 10%,
      rgba(0, 0, 0, 0) 90%
    ); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: 0.5s ease;
    opacity: 1;
    color: white;
    font-size: 20px;
    height: 100%;
    display: flex;
    align-items: flex-end;
  }
  
  .logo {
    font-family: 'Kaushan Script', cursive;
  }

  

  .loader {
    background: linear-gradient(180deg,#ecebeb,hsla(0,3%,92%,.51) 53%,hsla(0,3%,92%,0));
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    animation: _2NjOP 2s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    
  }
  
  @keyframes _2NjOP {
    to {
      transform: rotate(360deg);
    }
  }

  .loader ::after {
    position: absolute;
    display: block;
    top: 4px;
    left: 4px;
    width: 72px;
    height: 72px;
    content: "";
    background-color: #171a29;
    border-radius: 50%;
    overflow: hidden;
  }

.loader-container, .loader {
    position: relative;
    width: 80px;
    height: 80px;
}






